.container {
  position: absolute;
  top: -27.5%;
  left: 31.5%;

  @media (max-width: 480px) {
    display: none;
  }
}

.circle {
  position: relative;
  width: 530px;
  height: 530px;

  border: 1px solid rgb(66, 86, 122, 0.2);
  border-radius: 50%;
  transition: transform 1s ease-in-out;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  border-radius: 50%;
  border: 1px solid rgb(66, 86, 122, 0.5);
  transition: all 0.3s ease-in-out;
  transform-origin: "center";
}
